[submodule "GlowUpGrow-Server"]
	path = GlowUpGrow-Server
	url = https://github.com/greenwaltc/GlowUpGrow-Server.git
[submodule "GlowUpGrow-Client"]
	path = GlowUpGrow-Client
	url = https://github.com/greenwaltc/GlowUpGrow-Client.git
